* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d6fbff;

}

.wrapper {
  display: grid;
  grid-template: 600px/repeat(3, 400px);

}

.img {
  background-image: url(img/Beef.png);
  background-position-x: 60%;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  text-align: center;
  margin: 30px 0;
}

h2 {
  margin: 30px 0;
}

label {
  font-size: 20px;
  margin-bottom: 15px;
}

label:hover {
  cursor: pointer;
}

.total {
  padding-top: 30px;
}

h3 {
  color: chocolate;
  margin-bottom: 15px;
}

.total-desc {
  font-size: 20px;
  margin-bottom: 10px;
}