header {
    display: flex;
    flex-direction: column;
}

header > .btn {
    align-self: flex-end;
    width: 130px;
    height: 40px;
}

main {
    text-align: center;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 900px;
    margin: 0 auto;
}

.product-item {

}

.btn {
    width: 100px;
    height: 33px;
    margin: 15px;
    -webkit-box-shadow: inset 0 -3px 0 #736357;
    box-shadow: inset 0 -3px 0 #736357;
    border: 0 none;
    border-radius: 3px;
    background: #998675;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover {
    -webkit-box-shadow: inset 0 -3px 0 #998675;
    box-shadow: inset 0 -3px 0 #998675;
    background: #736357;
}
.btn:focus {
    outline: none;
    background: #736357;
}
.btn:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .1;
}