html, body{
     height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
header {
    display: flex;
    background-color: #abeafa;
    justify-content: space-between;
   
    padding: 50px 100px;
}
.logo{
    width: 95px;
    height: 80px;
    float:left;
   
}
.cart-button {
    background-color: #fff51f;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #2f2a2d;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: #000000;
    width: 120px;
    height: 50px;
    font-size: 15px;
    float:right
}

.cart-button:hover {
    background-color: transparent;
    border-color: #c8c8c8;
    color: #c8c8c8;
}

.goods-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-row-gap: 20px;
    margin-top: 20px;
}

.goods-item {
    width: 200px;
    height: 400px;
    outline: #9e9b9d solid 1px;
    text-align: center;
    display: inline-block;
}